.container {
  max-width: 120rem;
  padding-left: 40px;
  padding-right: 40px;
  margin: auto;

  @include media-tablet {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (max-width: $burger-show) {
    padding-left: 10px;
    padding-right: 10px;
  }
}
